__pycache__/
.venv/
.vscode/
data/
go-cqhttp/
log/
test/
_test/
sk_bot/
_sk_bot/
out/
dist/
_demo/

.env
.env.dev
docker-compose.yml
Dockerfile

src/plugins/copyman.py
src/plugins/test.py
src/plugins/_copyman.py
node_modules
