__pycache__/
.venv/
.vscode/
data/
go-cqhttp/
log/
test/
sk_bot/
out/

.env
.env.dev
docker-compose.yml
Dockerfile
poetry.lock

_README.md
dist/haruka_bot-1.0.0-py3-none-any.whl
dist/haruka_bot-1.0.1-py3-none-any.whl
dist/haruka-bot-1.0.0.tar.gz
dist/haruka-bot-1.0.1.tar.gz
