appdirs==1.4.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
apscheduler==3.6.3; python_version >= "3.7" and python_version < "4.0"
arrow==0.17.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
attrs==20.3.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.4.0"
bcrypt==3.2.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
binaryornot==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
cached-property==1.5.2; python_version >= "3.7" and python_version < "4.0"
certifi==2020.6.20; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0")
cffi==1.14.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
chardet==3.0.4; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
click==7.1.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and platform_system == "Windows" and sys_platform == "win32" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0" and platform_system == "Windows" and sys_platform == "win32"
cookiecutter==1.7.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
cryptography==3.2.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
distro==1.5.0; python_version >= "3.7" and python_version < "4.0"
docker-compose==1.27.4; python_version >= "3.7" and python_version < "4.0"
docker==4.3.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
dockerpty==0.4.1; python_version >= "3.7" and python_version < "4.0"
docopt==0.6.2; python_version >= "3.7" and python_version < "4.0"
fastapi==0.58.1; python_version >= "3.7" and python_version < "4.0"
h11==0.9.0; python_version >= "3.7" and python_version < "4.0"
httpcore==0.12.0; python_version >= "3.7" and python_version < "4.0"
httptools==0.1.1; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7" and python_version < "4.0"
httpx==0.16.1; python_version >= "3.7" and python_version < "4.0"
idna==2.10; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
importlib-metadata==2.0.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_version >= "3.7" and python_version < "3.8" and python_full_version >= "3.5.0"
jinja2-time==0.2.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
jinja2==2.11.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
jsonschema==3.2.0; python_version >= "3.7" and python_version < "4.0"
loguru==0.5.3; python_version >= "3.7" and python_version < "4.0"
markupsafe==1.1.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
nb-cli==0.2.0; python_version >= "3.7" and python_version < "4.0"
nonebot2==2.0.0a4; python_version >= "3.7" and python_version < "4.0"
paramiko==2.7.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
pillow==8.0.1; python_version >= "3.6"
poyo==0.5.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
prompt-toolkit==1.0.14; python_version >= "3.7" and python_version < "4.0"
psutil==5.7.3; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pycparser==2.20; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
pydantic==1.7.2; python_version >= "3.7" and python_version < "4.0"
pyee==7.0.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyfiglet==0.8.post1; python_version >= "3.7" and python_version < "4.0"
pygments==2.7.2; python_version >= "3.7" and python_version < "4.0"
pygtrie==2.3.3; python_version >= "3.7" and python_version < "4.0"
pyinquirer==1.0.3; python_version >= "3.7" and python_version < "4.0"
pynacl==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
pyppeteer==0.2.2; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
pyrsistent==0.17.3; python_version >= "3.7" and python_version < "4.0"
python-dateutil==2.8.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
python-dotenv==0.15.0; python_version >= "3.7" and python_version < "4.0"
python-slugify==4.0.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
pytz==2020.4; python_version >= "3.7" and python_version < "4.0"
pywin32==227; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0" and sys_platform == "win32"
pyyaml==5.3.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
qrcode==6.1
regex==2020.10.28; python_version >= "3.7" and python_version < "4.0"
requests==2.24.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
rfc3986==1.4.0; python_version >= "3.7" and python_version < "4.0"
six==1.15.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
sniffio==1.2.0; python_version >= "3.7" and python_version < "4.0"
starlette==0.13.4; python_version >= "3.7" and python_version < "4.0"
text-unidecode==1.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
texttable==1.6.3; python_version >= "3.7" and python_version < "4.0"
tqdm==4.51.0; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
tzlocal==2.1; python_version >= "3.7" and python_version < "4.0"
urllib3==1.25.11; python_full_version >= "3.6.1" and python_version < "4" and python_full_version < "4.0.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.7")
uvicorn==0.11.8; python_version >= "3.7" and python_version < "4.0"
uvloop==0.14.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7" and python_version < "4.0"
wcwidth==0.2.5; python_version >= "3.7" and python_version < "4.0"
websocket-client==0.57.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
websockets==8.1; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.7" and python_version < "4.0"
win32-setctime==1.0.3; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
zipp==3.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_version >= "3.7" and python_version < "3.8" and python_full_version >= "3.5.0"
